<?xml version="1.0"?>
<config>
    <modules>
        <Cammino_Clearsale>
            <version>0.1.4</version>
        </Cammino_Clearsale>
    </modules>
    <global>
        <models>
            <cammino_clearsale>
                <class>Cammino_Clearsale_Model</class>
            </cammino_clearsale>
        </models>
        <blocks>
            <adminhtml>
                <rewrite>
                    <sales_order_view_tab_info>Cammino_Clearsale_Block_Adminhtml_Sales_Order_View_Tab_Info</sales_order_view_tab_info>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <cammino_clearsale>
                <class>Cammino_Clearsale_Helper</class>
            </cammino_clearsale>
        </helpers>
    </global>
    <admin>
        <routers>
            <clearsale>
                <use>admin</use>
                <args>
                    <module>Cammino_Clearsale</module>
                    <frontName>clearsale</frontName>
                </args>
            </clearsale>
        </routers>
    </admin>
    <default>
        <payment_services>
            <clearsale>
                <active>0</active>
            </clearsale>
        </payment_services>
    </default>
</config>
