<phpunit backupGlobals="false"
        backupStaticAttributes="false"
        bootstrap="bootstrap.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnFailure="true"
        syntaxCheck="true">
    <testsuites>
        <testsuite name="Cammino_Clearsale">
            <directory>./Cammino</directory>
        </testsuite>
    </testsuites>
</phpunit>
